<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<system.serviceModel>
		<services>
			<service name="GestionComercial.ReportServiceHost.Services.ReportService">

				<!-- Endpoint local (solo en localhost, por NamedPipe) -->
				<endpoint
				  address="ReportService"
				  binding="netNamedPipeBinding"
				  bindingConfiguration="pipeBinding"
				  contract="GestionComercial.Contract.Interfaces.IReportService" />

				<!-- Endpoint remoto (red o mismo equipo, por TCP) -->
				<endpoint
				  address="ReportService"
				  binding="netTcpBinding"
				  bindingConfiguration="tcpBinding"
				  contract="GestionComercial.Contract.Interfaces.IReportService" />

				<!-- Metadata (para poder agregar referencias desde otros clientes) -->
				<endpoint
				  address="mex"
				  binding="mexTcpBinding"
				  contract="IMetadataExchange" />

				<host>
					<baseAddresses>
						<add baseAddress="net.pipe://localhost/GestionComercial" />
						<add baseAddress="net.tcp://0.0.0.0:9000/GestionComercial" />
					</baseAddresses>
				</host>
			</service>
		</services>

		<bindings>
			<netTcpBinding>
				<binding name="tcpBinding" maxReceivedMessageSize="2147483647">
					<security mode="None" />
				</binding>
			</netTcpBinding>

			<netNamedPipeBinding>
				<binding name="pipeBinding" maxReceivedMessageSize="2147483647">
					<security mode="None" />
				</binding>
			</netNamedPipeBinding>
		</bindings>

		<behaviors>
			<serviceBehaviors>
				<behavior>
					<!-- Habilitar metadatos y mostrar detalles de excepción para debug -->
					<serviceMetadata />
					<serviceDebug includeExceptionDetailInFaults="true" />
				</behavior>
			</serviceBehaviors>
		</behaviors>
	</system.serviceModel>
</configuration>








<!--<configuration>
	<system.serviceModel>
		<services>
			<service name="GestionComercial.ReportServiceHost.Services.ReportService">
				<endpoint
					address="ReportService"
					binding="netNamedPipeBinding"
					contract="GestionComercial.Contract.Interfaces.IReportService" />
				<endpoint
					address="mex"
					binding="mexNamedPipeBinding"
					contract="IMetadataExchange" />
				<host>
					<baseAddresses>
						<add baseAddress="net.pipe://localhost/GestionComercial"/>
					</baseAddresses>
				</host>
			</service>
		</services>

		<bindings>
			<netNamedPipeBinding>
				<binding name="pipeBinding" />
			</netNamedPipeBinding>
		</bindings>

		<behaviors>
			<serviceBehaviors>
				<behavior>
					<serviceMetadata />
					<serviceDebug includeExceptionDetailInFaults="true" />
				</behavior>
			</serviceBehaviors>
		</behaviors>
	</system.serviceModel>
</configuration>-->
